.login-form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#8f5f29;
    border-radius:50px;
    box-shadow:-3px 10px 10px black;
    padding:30px;
    width:450px;
    margin: 250px auto;
    form{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input{
            background:rgb(230, 231, 150);
            font-size:1.2rem;
            margin:10px;
            padding:10px;
            width:300px;
            height:40px;
            font-family: 'Quicksand', sans-serif;
            border-radius:10px;
            border:solid black 2px;
        }
        .btn-container{
            width:100%;
            display:flex;
            justify-content: space-evenly;
            margin: auto;
        }
    }
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height:auto;
}

@media (max-width:700px){
    .login-form{
        margin-top:200px;
        width:65%;
        font-size:0.7rem;
        form{
            input{
                padding:10px;
                width:200px;
                font-size:1rem;
            }
        }
        .logo{
            margin:25px;
            width:200px;
        }
    }
}