.createAccount{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:300px auto;
    h1{
        font-family: 'Quicksand', sans-serif;
        color:gold;
        text-shadow: goldenrod -1px 2px;
    }
    form{
        font-size:1rem;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background:#8f5f29;
        border-radius:50px;
        box-shadow:-3px 10px 10px black;
        height:550px;
        width:500px;
        div{
            margin:25px;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            input{
                background:rgb(230, 231, 150);
                border:black solid 2px;
                border-radius:10px;
                margin:10px auto;
                font-family: 'Quicksand', sans-serif;
                font-size:1.2rem;
                height:40px;
                width:300px;
                padding:10px;
            }
        }
        section{
            display:flex;
        }
        
    }
}
@media (max-width:600px){
    .createAccount{
        width:85%;
            margin:200px auto;
            h1{
                font-size:1.2rem;
            }
        form{
            width:300px;
            div{
            input{
                width:200px;
                height:35px;
                font-size:1rem;
                }
            }
        }
    }
}
