.search-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    input{
        border:none;
        font-family: 'Quicksand', sans-serif;
        padding:15px;
        width:350px;
        height:30px;
        font-size:1.1rem;
        border-radius:10px;
        &:focus{
            outline:none;
        }
    }
}
.villager-results{
    margin-top:5%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.villager-card{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #8ce2f7;
    box-shadow: 0px 10px 0px #47c1e6;
    border-radius: 35px;
    width:250px;
    height:250px;
    margin:20px ;
    &:hover{
        background:#47c1e6;
    }
    section {
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction:column;
    }
    .villager-card-img{
        width:100%;
    }
}
@media (max-width:1200px){
    .search-bar{
        margin-top:30%;
        input{
            height:30px;
        }
    }
}

@media (max-width:800px){
    .search-bar{
        margin-top:30%;
        input{
            height:15px;
        }
    }
    .villager-card{
        width:150px;
        height:150px;
        .villager-card-img{
            height:auto;
            width:75px;
        }
    }
}
@media (max-width:600px){
    .search-bar{
        margin-top:40%;
        input{
            font-size:0.9rem;
            height:10px;
            width:50%;
        }
    }
    .villager-card{
        width:130px;
        height:130px;
        margin:15px;
        .villager-card-img{
            height:auto;
            width:50px;
        }
    }
}