body{
    margin:0;
    background-image: url("https://cdn.wallpapersafari.com/41/1/DaSPR5.jpg");
    font-size:80%;
    font-family: 'Source Sans Pro',sans-serif;
}
.login-form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:white;
    border-radius:50px;
    box-shadow:-3px 10px 10px black;
    padding:30px;
    width:500px;
    margin: 50px auto;
}

.login-form form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
}
.search-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px auto;
    height:50px;
}
#message{
    resize:none;
    height:200px;
    width:90%;
}
.villager-results{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contact-form{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    font-size:1rem;
    margin:10% auto;
    background:white;
    width:500px;
    height:600px;
    padding:20px;
}
.contact-form input{
    justify-content: center;
    align-items: center;
    margin:10px;
}
.villager-card{
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(235, 235, 235);
    border-radius: 35px;
    width:250px;
    height:250px;
    margin:20px ;
}
.villager-card-img{
    width:100%;
    height:auto;
}
.villager-card section {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
}
.villager-info-card{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Hind', sans-serif;
    background:rgb(238, 232, 194);
    font-size:1.5rem;
    border-radius: 25px;
    width:50%;
    height:70%;
    padding:5%;
    margin:auto;
}
.villager-info-card img{
    display:flex;
    margin:auto;
    border-radius:25px;
    width:250px;
}
.villager-info-card h1{
    text-align: center;
    width:70%;
    margin: 15px auto;
    border-radius:25px;
    padding:2%;
}
.villager-info-card section{
    width:70%;
    border-radius:25px;
    font-size: 1.2rem;
    padding:2%;
}
.villager-bio{
    margin-top:5%;
}
.button{
    background:#216fc7;
    color:white;
    box-shadow: 5px 5px 6px black;
    border-radius:15px;
    width:60px;
    height:50px;
}
.back-button{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    background: #216fc7;
    color:rgb(255, 255, 255);
    box-shadow:5px 5px 6px black;
    border-radius:15px;
    width:50px;
    padding:12px;
}
.btn-container{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    margin:10px auto;
}
.nav-container{
   box-shadow: 0px 15px 0px #47c1e6;
}
nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    min-height:10vh;
    background:#8ce2f7
}
.nav-links{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #216fc7;
    color:rgb(255, 255, 255);
    box-shadow:5px 5px 6px black;
    border-radius:15px;
    width:100px;
    height:50px;
    padding:15px;
    font-size:1.2rem;
}
.links{
    text-decoration: none;
    color:black;
    font-size:1.2rem;
}
.back-button-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:700px){
    .login-form{
        width:55%;
        font-size:0.7rem;
    }
    .nav-links{
        width:50px;
        height:25px;
        margin:15px 0px;
        font-size:0.8rem;
    }
    .villager-info-card{
        font-size:1rem;
        width:75%;
        height:100%;
    }
    .villager-info-card img{
        width:200px;
    }
    .villager-info-card h1{
        width:50%;
    }
    .villager-info-card section{
        width:90%;
        font-size: 1rem;
    }
}