.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #8f5f29;
  border-radius: 50px;
  -webkit-box-shadow: -3px 10px 10px black;
          box-shadow: -3px 10px 10px black;
  padding: 30px;
  width: 450px;
  margin: 250px auto;
}

.login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-form form input {
  background: #e6e796;
  font-size: 1.2rem;
  margin: 10px;
  width: 300px;
  height: 40px;
  font-family: arial black;
  border: solid black 2px;
}

.login-form form .btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: auto;
}

@media (max-width: 700px) {
  .login-form {
    margin-top: 200px;
    width: 65%;
    font-size: 0.7rem;
  }
  .login-form form input {
    width: 200px;
    font-size: 1rem;
  }
  .login-form .logo {
    margin: 25px;
    width: 200px;
  }
}

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 15px 0px #47c1e6;
          box-shadow: 0px 15px 0px #47c1e6;
  background: #8ce2f7;
}

.nav-container .clouds-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-container .clouds-container .cloud1 {
  position: fixed;
  left: 350px;
  height: 105px;
  opacity: 0;
  z-index: -1;
  -webkit-animation: cloud 10s infinite ease-in;
          animation: cloud 10s infinite ease-in;
}

.nav-container .clouds-container .little1 {
  position: fixed;
  left: 250px;
  height: 85px;
  opacity: 0;
  z-index: -1;
  -webkit-animation: cloud 8.7s infinite ease-in;
          animation: cloud 8.7s infinite ease-in;
}

.nav-container .clouds-container .cloud2 {
  position: fixed;
  right: 350px;
  height: 130px;
  opacity: 0;
  z-index: -1;
  -webkit-animation: cloud 8s infinite ease-in;
          animation: cloud 8s infinite ease-in;
}

.nav-container .clouds-container .little2 {
  position: fixed;
  right: 500px;
  height: 50px;
  opacity: 0;
  z-index: -1;
  -webkit-animation: cloud 10.5s infinite ease-in;
          animation: cloud 10.5s infinite ease-in;
}

.nav-container .clouds-container .cloud3 {
  position: fixed;
  right: 60%;
  height: 90px;
  opacity: 0;
  z-index: -1;
  -webkit-animation: cloud 9.2s infinite ease-in;
          animation: cloud 9.2s infinite ease-in;
}

.nav-container .clouds-container .little3 {
  position: fixed;
  right: 40%;
  height: 70px;
  opacity: 0;
  z-index: -1;
  -webkit-animation: cloud 11.5s infinite ease-in;
          animation: cloud 11.5s infinite ease-in;
}

@-webkit-keyframes cloud {
  100% {
    opacity: 0.7;
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

@keyframes cloud {
  100% {
    opacity: 0.7;
    -webkit-transform: translateX(900px);
            transform: translateX(900px);
  }
}

.nav-container nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 15vh;
}

.nav-container nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background: #216fc7;
  color: white;
  -webkit-box-shadow: -3px 5px 8px black;
          box-shadow: -3px 5px 8px black;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  padding: 15px;
  font-size: 1.3rem;
}

.nav-container nav .nav-links:hover {
  background: #1a62b4;
  color: gold;
}

@media (max-width: 1200px) {
  .nav-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .nav-container .clouds-container .cloud1 {
    -webkit-animation: none;
            animation: none;
  }
  .nav-container .clouds-container .little1 {
    -webkit-animation: none;
            animation: none;
  }
  .nav-container .clouds-container .cloud2 {
    -webkit-animation: none;
            animation: none;
  }
  .nav-container .clouds-container .little2 {
    -webkit-animation: none;
            animation: none;
  }
  .nav-container .clouds-container .cloud3 {
    -webkit-animation: none;
            animation: none;
  }
  .nav-container .clouds-container .little3 {
    -webkit-animation: none;
            animation: none;
  }
  .nav-container nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    min-height: 14vh;
  }
  .nav-container nav .nav-links {
    font-size: 0.7rem;
    width: 50px;
    height: 20px;
  }
}

@media (max-width: 600px) {
  .nav-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .nav-container nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 100%;
    min-height: 15vh;
  }
  .nav-container nav .nav-links {
    margin: 30px;
    font-size: 0.7rem;
    width: 50px;
    height: 10px;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  margin: 250px auto;
  background: #8f5f29;
  border-radius: 50px;
  -webkit-box-shadow: -3px 10px 10px black;
          box-shadow: -3px 10px 10px black;
  width: 500px;
  height: 500px;
  padding: 20px;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form form h1 {
  color: gold;
}

.contact-form form #message {
  background: #e6e796;
  font-family: arial black;
  font-size: 1.2rem;
  border: black solid 2px;
  resize: none;
  height: 200px;
  width: 400px;
}

.contact-form form input {
  background: #e6e796;
  font-size: 1rem;
  border: black solid 2px;
  font-family: arial black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

@media (max-width: 800px) {
  .contact-form {
    margin-top: 190px;
    width: 80%;
    height: 500px;
  }
  .contact-form form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: auto;
  }
  .contact-form form #message {
    font-size: 1rem;
    height: 200px;
    width: 100%;
  }
  .contact-form form input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.villager-info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Hind', sans-serif;
  background: #eee8c2;
  font-size: 1.5rem;
  border-radius: 25px;
  width: 500px;
  height: 70%;
  padding: 3%;
  margin: 250px auto;
}

.villager-info-card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  border-radius: 25px;
  width: 350px;
}

.villager-info-card h1 {
  text-align: center;
  width: 70%;
  margin: 15px auto;
  border-radius: 25px;
  padding: 2%;
}

.villager-info-card section {
  width: 90%;
  border-radius: 25px;
  font-size: 1.2rem;
  padding: 2%;
}

.villager-info-card .villager-bio {
  margin-top: 5%;
}

.back-button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #216fc7;
  color: white;
  -webkit-box-shadow: -5px 3px 5px black;
          box-shadow: -5px 3px 5px black;
  border-radius: 15px;
  width: 50px;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 750px) {
  .villager-info-card {
    font-size: 1rem;
    width: 80%;
    height: 100%;
    margin-top: 150px;
  }
  .villager-info-card .back-button {
    margin-top: 10px;
  }
  .villager-info-card section {
    width: 90%;
    font-size: 1rem;
  }
  .villager-info-card h1 {
    width: 50%;
  }
  .villager-info-card img {
    width: 200px;
  }
}

.createAccount {
  font-family: arial black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 300px auto;
}

.createAccount h1 {
  color: gold;
}

.createAccount form {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #8f5f29;
  border-radius: 50px;
  -webkit-box-shadow: -3px 10px 10px black;
          box-shadow: -3px 10px 10px black;
  height: 450px;
  width: 500px;
}

.createAccount form div {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.createAccount form div input {
  background: #e6e796;
  border: black solid 2px;
  margin: 10px auto;
  font-family: arial black;
  font-size: 1.2rem;
  height: 40px;
  width: 300px;
}

.createAccount form section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .createAccount {
    width: 85%;
    margin: 200px auto;
  }
  .createAccount h1 {
    font-size: 1.2rem;
  }
  .createAccount form {
    width: 300px;
  }
  .createAccount form div input {
    width: 200px;
    height: 35px;
    font-size: 1rem;
  }
}

body {
  margin: 0;
  background-image: url("https://cdn.wallpapersafari.com/41/1/DaSPR5.jpg");
  font-size: 80%;
  font-family: 'Source Sans Pro',sans-serif;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #216fc7;
  color: white;
  margin: 10px;
  -webkit-box-shadow: -3px 3px 6px black;
          box-shadow: -3px 3px 6px black;
  border-radius: 15px;
  width: 80px;
  height: 45px;
  padding: 5px;
}

.button:hover {
  cursor: pointer;
  background: #1a62b4;
  color: gold;
}

.links {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */